@import url("nav.css");

:root {
  font-size: 16px;
  --text-color: rgb(51, 52, 64);
  --bg-color: #f6f6b8;
  --navbar-color: #ebeb6d;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.15s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#welcomeMsg {
  margin-left: 100px;
  text-align: center;
  padding-top: 50vh;
  font-style: italic;
}

#welcomeMsg > h1 {
  font-size: 4rem;
  text-shadow: -2px 2px 7px rgba(0, 0, 0, 0.7);
}

#welcomeMsg > h3 {
  opacity: 0.5;
  padding-top: 1rem;
  user-select: none;
}

#themeBtn {
  color: var(--text-color);
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 40px;
}

.options {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  gap: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.options > label {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.options > label > span {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.7;
  font-style: italic;
}

.options > label > input {
  width: 20px;
}

.container {
  width: 85%;
  margin-top: 20px;
  margin-left: 290px;
  /* background-color: black; */
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  row-gap: 50px;
}

.unitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.unitContainer > input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  text-align: center;
  box-shadow: 1px 1px 5px 1px var(--text-color);
}

.unitContainer > div {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}

#infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 130px;
  width: 50%;
  margin: auto;
}

#leftSideInfo {
  width: 60%;
  border-right: 1px solid white;
  padding-right: 100px;
}
#rightSideInfo {
  width: 30%;
}

#infoContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#infoContainer > div > div {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#infoContainer > div > div > h2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#totalUpkeep {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }

  .container {
    flex-direction: column;
  }

  #infoContainer > div > div > h2 {
    flex-direction: column;
  }
}
