:root {
  font-size: 16px;
  --text-color: rgb(51, 52, 64);
  --bg-color: #f6f6b8;
  --header-color: #ebeb6d;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.15s;
  margin-top: 120px;
}

* {
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 100px;
  background-color: var(--header-color);
}

#themeBtn {
  color: var(--text-color);
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 40px;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  /* background-color: black; */
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  row-gap: 50px;
}

.unitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.unitContainer > input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  text-align: center;
}

.unitContainer > div {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}


#totalPointsContainer {
  margin-top: 30px;
  text-align: center;
}

#totalUpkeepContainer {
  margin-top: 20px;
  text-align: center;
}

#infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}

#infoContainer > div {
  width: 100%;
}

#infoContainer > div > h2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#totalUpkeep {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }

  .container {
    flex-direction: column;
  }

  #infoContainer > div > h2 {
    flex-direction: column;
  }
}