@import url("nav.css");
@import url("buildings.css");

:root {
  font-size: 16px;
  --text-colour: rgb(51, 52, 64);
  --link-colour: rgb(51, 52, 64);
  --bg-colour: #f6f6b8;
  --bg-colour-dim: rgba(0, 0, 0, 0.4);
  --navbar-colour: #ebeb6d;
  --navbar-height: 100px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-colour);
  color: var(--text-colour);
  min-height: 100vh;
  transition: background-color 0.15s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#welcomeMsg {
  text-align: center;
  padding-top: 40vh;
  font-style: italic;
}

#welcomeMsg > h1 {
  font-size: 4rem;
  text-shadow: -2px 2px 7px rgba(0, 0, 0, 0.7);
}

#welcomeMsg > h3 {
  opacity: 0.5;
  padding-top: 1rem;
  user-select: none;
}

#themeBtn {
  color: var(--text-colour);
  font-size: 2rem;
  cursor: pointer;
}

.options {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.options .earlyResearch {
  display: flex;
  justify-content: space-between;
}

.options .earlyResearch > label {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.options .earlyResearch > label span {
  opacity: 0.7;
  font-style: italic;
}

.options .earlyResearch > label > input {
  width: 20px;
}

.options .futureResearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options .futureResearch input {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text-colour);
  color: var(--text-colour);
  text-align: center;
  outline: none;
  font-size: 1.5rem;
}

.unitsSectionContainer {
  margin-top: 20px;
  /* background-color: black; */
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

.unitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.unitContainer > input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--text-colour);
  color: var(--text-colour);
  text-align: center;
  box-shadow: 1px 1px 5px 1px var(--text-colour);
}

.unitContainer > div {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}

#infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 130px; */
  min-width: 20%;
  margin: auto;
}

#leftSideInfo {
  width: 50%;
  border-right: 1px solid var(--text-colour);
  padding-right: 50px;
}

#rightSideInfo {
  width: 30%;
}

#rightSideInfo > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rightSideInfo > div label {
  font-size: 1.5rem;
}

#rightSideInfo > div input {
  width: 50%;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--text-colour);
  color: var(--text-colour);
  /* text-align: center; */
  margin-top: 10px;
  box-shadow: 1px 1px 5px 1px var(--text-colour);
}

#infoContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#infoContainer > div > div {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#infoContainer > div > div > h2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#totalUpkeep {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  #infoContainer > div > div > h2 {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  :root {
    font-size: 12px;
  }

  .options .earlyResearch {
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
  }

  .options .earlyResearch > label {
    justify-content: space-between;
  }

  #infoContainer {
    flex-direction: column;
  }

  #rightSideInfo > div input {
    width: 100%;
  }

  #leftSideInfo {
    border-right: none;
    border-bottom: 1px solid var(--text-colour);
    padding-bottom: 50px;
    padding-right: 0;
  }
}
